body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1a8aaa, #b4d8e636);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgb(249, 246, 249);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(191, 214, 36, 0.2);
}

input {
  padding: 10px;
  margin: 8px 0;
  width: 80%;
  font-size: 16px;
}

button {
  padding: 12px 25px;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #10ed98;
  color: white;
}

button:hover {
  background-color: #f59af2e7;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 15px;
}

#progressBar {
  width: 0%;
  height: 15px;
  background-color: #b5b2bb;
  border-radius: 10px;
}